#create-activity {
  margin:2rem auto;
}

#create-activity label {
  font-size:1.2rem;
  margin:.5rem;
}

.activity-container {
  border-radius:8px;
  background-color: rgb(90, 132, 194);
  width:60%;
  margin:1.5rem auto;
  padding:.8rem;
  color:rgb(245, 245, 245);
  box-shadow: 2px 2px 4px rgb(30, 30, 30, .8);
}

.activity-container h3 {
  font-size:1.8rem;
}

@media screen and (max-width:1200px) {
  .activity-container {
    width: 100%;
  }
}