.routine-container {
  background-color: rgb(90, 132, 194);
  color: rgb(245, 245, 245);
  width:70%;
  margin:2rem auto;
  border-radius: 8px;
  padding:1rem;
  box-shadow: 2px 2px 4px rgb(30, 30, 30, .8); 
}

.related-activity-container {
  border:1px solid white;
  border-radius:8px;
  width:60%;
  margin:1rem auto;
  padding:1rem;
}

@media screen and (max-width: 1200px) {
  .routine-container {
    width:100%;
    margin:1rem auto;
  }
  .related-activity-container {
    width:100%;
  }
}